{% load static %}
{% load navbar %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <title>{% block title %}{% endblock %}</title>

</head>

<body>

    {% if user.is_authenticated %}

    <div class='dashboard'>
        {% block sidebar %}
        {% if request.user.user_status == 'student' %}
        {% student_sidebar request.user %}
        {% else %}
        {% teacher_sidebar request.user %}
        {% endif %}
        {% endblock %}

        <div class='dashboard-app'>
            <header class='dashboard-toolbar'>
                <a class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
            </header>
            <div class='dashboard-content'>
                <div class='card'>
                    <div class="card-header mb-3">
                        {% block content-header %}
                        {% endblock %}
                    </div>
                    <div class='card-body'>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    {% block login %}
    {% endblock %}
    {% endif %}


    <!-- Jquery script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Select2 script -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Tablesort script -->
    <script src="{% static 'js/tablesort.min.js' %}"></script>
    <script src='{% static "js/tablesort.number.js" %}'></script>

    <!-- TableFilter script -->
    <script src='{% static "js/filtertable.js" %}'></script>

    <script>
        const mobileScreen = window.matchMedia("(max-width: 990px )");
        $(document).ready(function () {
            $(".dashboard-nav-dropdown-toggle").click(function () {
                $(this).closest(".dashboard-nav-dropdown")
                    .toggleClass("show")
                    .find(".dashboard-nav-dropdown")
                    .removeClass("show");
                $(this).parent()
                    .siblings()
                    .removeClass("show");
            });
            $(".menu-toggle").click(function () {
                if (mobileScreen.matches) {
                    $(".dashboard-nav").toggleClass("mobile-show");
                } else {
                    $(".dashboard").toggleClass("dashboard-compact");
                }
            });
        });
    </script>

    {% block script %}{% endblock %}

</body>

</html>