/* Стили для таблицы с достижениями */
.table-achievement-header {
    width:100%;
    table-layout: fixed;
}

.table-achievement-body {
    width:100%;
    table-layout: fixed;
    word-wrap:break-word;
}

.tbl-header{
    background-color:rgb(13,110,253);
}

.tbl-content{
    height:500px;
    overflow-x:auto;
    margin-top: 0px;
}

.table-achievement-header th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td{
    padding: 15px;
    text-align: left;
    color: #000;
}

/* Стили для формы GetAchievement */
.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

.select2-container {
    width: 100% !important;
}
