.table {
	width: 90%;
	margin: auto;
	border-collapse: collapse;
    overflow-x: scroll; 
	vertical-align: middle;
	text-align: center;
	
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: rgba(13, 109, 253, 0.815);
	border: 1px solid #000000;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}