{% extends 'base.html' %}

{% block title %}Достижения{% endblock %}

{% block content-header %}
<h3 class="text-center">Просмотр достижений</h3>
{% endblock %}

{% block content %}
<div class="table-wrapper-scroll-y scrollbar">
    <table id="achievement-table" class="table-scrolls">
        <thead>
            <tr>
                <th class="text-center" width="8%">#</th>
                <th class="text-center name" width="25%">Название</th>
                <th class="text-center">Описание</td>
                <th class="text-center" width="20%"><i class="fa fa-image"></i> Изображение</i></th>
                <th class="text-center" width="15%">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for achievement in achievements %}
            <tr>
                <td class="text-center" width="5%">{{ forloop.counter }}</td>
                <td class="text-center name" width="25%">{{ achievement.name }}</td>
                <td>{{ achievement.description }}</td>
                <td class="text-center" width="20%"><img src="{{ achievement.image.url }}" width="40%"></td>
                <td class="text-center" width="15%">
                    <a class="update-achievement btn btn-sm btn-primary"
                        href="{% url 'edit_achievement' achievement.pk %}">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a class="delete-achievement btn btn-sm btn-danger"
                        href="{% url 'del_achievement' achievement.pk %}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="error-search text-center mt-3" style="display: none;">
        <p><i class="fa fa-exclamation-circle"></i> По вашему запросу ничего не найдено</p>
    </div>
</div>
{% endblock %}