{% extends 'base.html' %}
{% load static %}

{% block title %}Мои достижения{% endblock %}

{% block content-header %}
<h3 class="text-center">Мои достижения</h3>
{% endblock %}

{% block content %}

<p class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i> Наведите на иконку, чтобы посмотреть условия
    получения достижения.</p>

<div class="item">

    {% if get_achievements %}
    {% for achievement in get_achievements %}
    <div class="iconblock-2">
        <div title="{{ achievement.achievement.description }}" class="icon">
            <img class="img" src="{{ achievement.achievement.image.url }}" />
        </div>
        <div>
            <h3>{{ achievement.achievement.name }}</h3>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% if achievements %}
    {% for achievement in achievements %}
    <div class="iconblock-1">
        <div title="{{ achievement.description }}" class="icon">
            <img class="img" src="{{ achievement.image.url }}" />
        </div>
        <div>
            <h3>{{ achievement.name }}</h3>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
