{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Добавить группу{% endblock %}

{% block content-header %}
<h3 class="text-center">Добавить группу</h3>
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert alert-success text-center" role="alert">
        {{ message }}
    </div>
</div>
{% endfor %}

<div class="col-12 col-md-6 offset-md-3">
    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-5">
            {{ form.name|as_crispy_field }}
            <br>
            {{ form.year_of_enrollment|as_crispy_field }}
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Добавить</button>
            &nbsp;
            <a class="btn btn-secondary" href="{% url 'group' %}" class="">Назад</a>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    var info_messages = document.getElementsByClassName('alert-success');
    setTimeout(function () {
        for (var i = 0; i < info_messages.length; i++) {
            info_messages[i].setAttribute('style', 'display:none !important');
        }
    }, 3000);
</script>
{% endblock %}