{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Выдать достижение{% endblock %}

{% block content-header %}
<h3 class="text-center">Выдать достижение</h3>
{% endblock %}

{% block content %}

{% for message in messages %}
<div class="container-fluid p-0">
    <div {% if message.tags %} class="alert {{ message.tags }} text-center" role="alert" {% endif %}>
        {{ message }}
    </div>
</div>
{% endfor %}

<form class="col-12 col-md-10 offset-md-1" method="post">
    {% csrf_token %}
    {{ form.achievement|as_crispy_field }}
    <br>
    <div class="nav-menu" style="display:flex;">
        <input type="text" class="form-control" id="search" placeholder="Поиск по ФИО..." style="margin-right: 13px;">
        <select id="name-group" class="select-student" style="margin-right: 10px;">
            <option value="">Группа</option>
            {% for group in groups %}
            <option value="{{ group }}">{{ group }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="table-wrapper-scroll-y scrollbar">
        <table id="student-table" class="table-scrolls">
            <thead>
                <tr>
                    <th class="text-center" width="45px"></th>
                    <th class="text-center" width="10%" data-sort-method='none'>#</th>
                    <th class="text-center fio" width="30%" data-sort-method='none'> ФИО</i></th>
                    <th class="text-center" data-sort-method='none'>Группа</td>
                </tr>
            </thead>
            <tbody id="target">
                {% for student in students %}
                <tr>
                    <td>
                        <input id="id_student_{{ student.id }}" type="radio" name="student" value="{{ student.id }}">
                    </td>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center fio">
                        {{student.user.get_full_name}}
                    </td>
                    <td class="text-center">{{ student.group }}</td>
                    {% endfor %}
            </tbody>
        </table>
        <div class="error-search text-center mt-3" style="display: none;">
            <p><i class="fa fa-exclamation-circle"></i> По вашему запросу ничего не найдено</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Выдать</button>
        &nbsp;
        <a class="btn btn-secondary" href="{% url 'achievement' %}" class="">Назад</a>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#id_achievement').select2({
            placeholder: "Выберите достижение...",
            width: '100%'
        });
    });

    $(document).on("select2:open", () => {
        document.querySelector(".select2-container--open .select2-search__field").focus()
    })

    var info_messages = document.getElementsByClassName('alert');
    setTimeout(function () {
        for (var i = 0; i < info_messages.length; i++) {
            info_messages[i].setAttribute('style', 'display:none !important');
        }
    }, 3000);

    $("#search").on("keyup", function () {
        var inputValue = $(this).val().toLowerCase();
        var count = 0
        $("#student-table tbody tr").filter(function () {
            if ($(this).children('.fio').text().toLowerCase().indexOf(inputValue) > -1) count++;
            $(this).toggle($(this).children('.fio').text().toLowerCase().indexOf(inputValue) > -1)
        });
        if (count == 0) {
            $('.error-search').show();
        } else {
            $('.error-search').hide();
        }
    });

    filterTable(document.getElementById("target"), {
        3: document.getElementById("name-group")
    });
</script>
{% endblock %}