{% extends 'base.html' %}

{% block title %}Удалить группу{% endblock %}

{% block content-header %}
<h3 class="text-center">Удалить группу {{ group.name }}</h3>
{% endblock %}
{% block content %}
<div class="col-12 col-md-6 offset-md-3 text-center">
    <form class="" method="post">
        {% csrf_token %}
        <p><i class="fa fa-info-circle" aria-hidden="true"></i> Вы действительно хотите удалить данную группу?</p>
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Удалить</button>
            &nbsp;
            <a class="btn btn-secondary" href="{% url 'group' %}" class="">Назад</a>
        </div>
    </form>
</div>
{% endblock %}