{% extends 'base.html' %}

{% block title %}Группы{% endblock %}

{% block content-header %}
<h3 class="text-center">Просмотр групп</h3>
{% endblock %}

{% block content %}
<input type="text" class="form-control" id="search" placeholder="Поиск по названию...">
<div class="table-wrapper-scroll-y scrollbar">
    <table id="group-table" class="table-scrolls">
        <thead>
            <tr>
                <th class="text-center" width="3%" data-sort-method='none'>#</th>
                <th class="text-center name" width="25%" data-sort-method='none'>Название</th>
                <th class="text-center data-sort" width="25%">Год зачисления</td>
                <th class="text-center" width="10%" data-sort-method='none'>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center name" width="25%">{{ group.name }}</td>
                <td class="text-center">{{ group.year_of_enrollment }}</td>
                <td class="text-center" width="15%">
                    <a class="update-achievement btn btn-sm btn-primary" href="{% url 'update_group' group.id%}">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a class="delete-achievement btn btn-sm btn-danger" href="{% url 'delete_group' group.id%}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="error-search text-center mt-3" style="display: none;">
        <p><i class="fa fa-exclamation-circle"></i> По вашему запросу ничего не найдено</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $("#search").on("keyup", function () {
        var inputValue = $(this).val().toLowerCase();
        var count = 0
        $("#group-table tbody tr").filter(function () {
            if ($(this).children('.name').text().toLowerCase().indexOf(inputValue) > -1) count++;
            $(this).toggle($(this).children('.name').text().toLowerCase().indexOf(inputValue) > -1)
        });
        if (count == 0) {
            $('.error-search').show();
        } else {
            $('.error-search').hide();
        }
    });

    new Tablesort(document.getElementById('group-table'));
</script>
{% endblock %}