{% extends 'base.html' %}

{% block title %}Студент {{ user.get_full_name }}{% endblock %}

{% block content-header %}
<h3 class="text-center">Практические работы</h3>
{% endblock %}

{% block content %}
    <p class="final">
        Форма контроля:
        {% if auto %}
        Зачет автоматом
        {% elif credit %}
        Идет на зачет/экзамен
        {% else %}
        Не допущен
    {% endif %}
    </p>
    <p class="final">Общее количество баллов: {{ all_grade }}</p>


<div class="table-wrapper-scroll-y scrollbar">
    <table id="work-table" class="table-scrolls">
        <thead>
            <tr>
                <th class="text-center" width="10%">#</th>
                <th class="text-center name" width="30%">Название</th>
                <th class="text-center" width="20%"><i class="fa fa-hourglass-start"></i> Дедлайн</th>
                <th class="text-center" width="15%">Защита / Дедлайн</td>
            </tr>
        </thead>
        <tbody>
            {% for work in works %}
            <tr>
                <td class="text-center" width="5%">{{ forloop.counter }}</td>
                {% if grades and work in work_grade %}
                {% for grade in grades %}
                {% if work.name == grade.work.name %}
                <td class="text-center name" width="25%">{{ grade.work.name }}</td>
                <td class="text-center" width="20%">{{ grade.work.dedline }}</td>
                <td class="text-center" width="20%">{{ grade.grade}} / {{grade.grade_for_protection }}</td>
                {% endif %}
                {% endfor %}
                {% else %}
                <td class="text-center name" width="25%">{{ work.name }}</td>
                <td class="text-center" width="20%">{{ work.dedline }}</td>
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}