{% extends 'base.html' %}

{% block title %}Студенты{% endblock %}

{% block content-header %}
<h3 class="text-center">Просмотр студентов</h3>
{% endblock %}

{% block content %}
<div class="nav-menu" style="display:flex;">
    <input type="text" class="form-control" id="search" placeholder="Поиск по ФИО..." style="margin-right: 13px;">
    <select id="name-group" class="select-student" style="margin-right: 10px;">
        <option value="">Группа</option>
        {% for group in groups %}
        <option value="{{ group }}">{{ group }}</option>
        {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp;
    <select id="year-group" class="select-student">
        <option value="">Поток</option>
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
</div>
<div class="table-wrapper-scroll-y scrollbar">
    <table id="student-table" class="table-scrolls">
        <thead>
            <tr>
                <th class="text-center" width="8%" data-sort-method='none'>#</th>
                <th class="text-center name" width="23%" data-sort-method='none'> ФИО</i></th>
                <th class="text-center" width="10%" data-sort-method='none'>Группа</td>
                <th class="text-center" width="10%" data-sort-method='none'>Форма обучения</th>
                <th class="text-center data-sort" width="12%">Кол-во достижений</th>
                <th class="text-center data-sort" width="10%">Оценка за курс</th>
                <th class="text-center" width="8%" data-sort-method='none'>Форма контроля</th>
                <td style="display: none;">Поток</td>
            </tr>
        </thead>
        <tbody id="target">
            {% for student in students %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center name">
                    <a href="{% url 'student_detail' student.user.id %}">{{student.user.get_full_name}}</a>
                </td>
                <td class="text-center">{{ student.group }}</td>
                <td class="text-center">{{ student.form_of_education }}</td>
                <td class="text-center">
                    <!-- Кол-во достижений -->
                    {{ student.get_len_achievement }}
                </td>
                <td class="text-center">
                    <!-- Суммарная оценка -->
                    {{ student.get_all_grade }}
                </td>
                <td class="text-center">
                    <!-- Форма контроля-->
                        {{ student.get_result }}
                </td>
                <td style="display: none;">{{ student.group.year_of_enrollment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="error-search text-center mt-3" style="display: none;">
        <p><i class="fa fa-exclamation-circle"></i> По вашему запросу ничего не найдено</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $("#search").on("keyup", function () {
        var inputValue = $(this).val().toLowerCase();
        var count = 0
        $("#student-table tbody tr").filter(function () {
            if ($(this).children('.name').text().toLowerCase().indexOf(inputValue) > -1) count++;
            $(this).toggle($(this).children('.name').text().toLowerCase().indexOf(inputValue) > -1)
        });
        if (count == 0) {
            $('.error-search').show();
        } else {
            $('.error-search').hide();
        }
    });

    new Tablesort(document.getElementById('student-table'));

    filterTable(document.getElementById("target"), {
        2: document.getElementById("name-group"),
        7: document.getElementById("year-group"),
    }
    );
</script>
{% endblock %}